img {
    height: 150px;
}

body {
    padding-top: 3rem;
}

.jumbotron {
    padding: 2rem 1rem !important;
}

.row {
    margin-top: 1rem;
}

.col-md-3 {
    margin: 1rem;
}

form a {
     margin-left: 1rem;
}

.list-group {
    padding: 2rem;
}

.post-details-controls{
    margin: 1rem;
}
.input-group-addon{
    width: 2.6rem;
}

.login-btn {
    padding-top: 0rem;
}


.field-label-responsive {
    padding-top: .5rem;
    text-align: right;

}